@page "/auth"

@using Microsoft.AspNetCore.Authorization

@* [Authorize] temporarily disabled for development *@

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
